.transaction_card_container p,
.transaction_card_container h1 {
  text-align: center;
}

.transaction_card_container p {
  font-weight: 500;
}

.transaction_card_container h1 {
  font-size: 3rem;
  font-weight: 800;
}

.transaction_card_container .transaction_card_content {
  margin-top: 20px;
}

.transaction_card_container .transaction_card_content label {
  font-weight: 500;
  text-transform: uppercase;
}

.ant-select::placeholder {
  color: #000000 !important;
}

/* media queries */

@media (max-width: 768px) {
  .transaction_card_container h1 {
    font-size: 2rem;
  }
}
